/* LEAVE THESE */
html {
  height: 100%;
  width: 100%;
}

#blogcomments {
  text-align:center;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.reply{
  margin-left:50px;
}

/* NEW CSS HERE */
body{
  text-align: left;
  background-color: rgb(214, 233, 247)
  }

h1{
color:rgb(33, 57, 102);
border-style:double;
border-width:10px;
border-color:rgb(180, 206, 255)
font-family:'Cambria'
}

h2, h3{
color:rgb(33, 57, 102);
font-family:'Cambria'
} 

.img{
border-style:inset;
 border-width:10px;
 border-color:rgb(180, 206, 255)
}

p {
font-family:'Cambria'
}